<div class="container">

  <h1>Dat' Place !</h1>

  <div class="restaurant">
    <h2><%= @restaurant.name %></h2>
    <% @average.times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% @empty_stars.times do %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </div>

  <div class="details"><h3><%= @restaurant.address %></div>

  <div class="category"><%=  @restaurant.category %></div>

    <%= link_to "Write a comment", new_restaurant_review_path(@restaurant), class: "btn  btn-success btn-show "%>

    <% if @reviews.empty? == false %>
      <%=  render 'titre'%>
    <% end %>

    <% @reviews.each do |review| %>
      <li class="list-group-item list-group-item-info">
        <%= review.content %>
      </li>
    <% end %>

    <%= link_to "back to list", restaurants_path, class: "btn  btn-primary btn-show pull-right"%>
  </div>

</div>
